#hero-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.custom-rd {
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}

.vh-85 {
  height: 85vh;
}

.inner-rd {
  border-radius: 12px;
}

.custom-btn {
  background-color: #2e4a33;
  color: white;
  font-weight: bold;
  border: 2px solid #2e4a33;
  transition: 0.8s;
}

.custom-btn:hover {
  background-color: none;
  border: 2px solid white;
  transition: 0.8s;
}

.secondary-button {
  color: white;
  background-color: none;
  border: white 2px solid;
}

.secondary-button:hover {
  background-color: white;
  color: #2e4a33;
}

.custom-toggler {
  background-color: transparent !important; /* Forces background to be transparent */
  border-color: transparent !important; /* Removes the default border outline */
}

/* Turns the default Bootstrap hamburger lines pure white */
.custom-toggler .navbar-toggler-icon {
  filter: invert(1) grayscale(1) brightness(2);
}

.custom-border {
  border: 4px #2e4a33 dashed;
  border-radius: 32px;
}

.outer {
  border-radius: 32px;
}

.inner {
  border-radius: 24px;
}

.dark-custom-bg {
  background-color: #2e4a33;
  color: white;
}

/* Carousel */

.custom-carousel {
  width: 100%;
  overflow: hidden;
}

.custom-carousel::-webkit-scrollbar {
  display: none;
}

.track {
  display: flex;
  width: max-content;
  animation: spin 40s linear infinite;
  will-change: transform;
}

.custom-group {
  gap: 1em;
  padding-right: 1em;
}

.custom-carousel:hover .track {
  animation-play-state: paused;
}

.custom-card-scroll {
  flex: 0 0 400px;
  transition: 0.8s;
  color: #fff;

  p {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  }
}

.custom-card-scroll:hover {
  transition: 0.8s;
}

@keyframes spin {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
