#hero-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.custom-rd {
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}

.vh-85 {
  height: 85vh;
}

.inner-rd {
  border-radius: 12px;
}

.custom-btn {
  background-color: #2e4a33;
  color: white;
  font-weight: bold;
  border: 2px solid #2e4a33;
  transition: 0.8s;
}

.custom-btn:hover {
  background-color: none;
  border: 2px solid white;
  transition: 0.8s;
}

.custom-toggler {
  background-color: transparent !important; /* Forces background to be transparent */
  border-color: transparent !important; /* Removes the default border outline */
}

/* Turns the default Bootstrap hamburger lines pure white */
.custom-toggler .navbar-toggler-icon {
  filter: invert(1) grayscale(1) brightness(2);
}

.custom-border {
  border: 4px #2e4a33 dashed;
  border-radius: 32px;
}
